      #miscDropdown {
        position: relative;
        display: flex;
      }
      #miscDropdown.open #miscMenu {
        display: block;
      }
      #miscToggle {
        position: relative;
        z-index: 1201;
        pointer-events: auto !important;
      }
      #miscMenu {
        z-index: 1202;
      }
      @media (max-width: 768px) {
        #miscDropdown {
          display: flex !important;
        }
      }
