<div class="page" id="page-streets">
  <div class="content-wrap">
    <div class="section-header">
      <span class="section-title">Streets Won't Forget</span>
      <span class="section-sub">Cult heroes. Tournament icons. Your XI.</span>
    </div>
    <div class="sub-tabs hs-streets-tabs" role="tablist" aria-label="Streets Won't Forget versions">
      <button class="sub-tab active" type="button" data-streets-mode="premier" role="tab" aria-selected="true">Premier League Version</button>
      <button class="sub-tab" type="button" data-streets-mode="world-cup" role="tab" aria-selected="false">World Cup Version</button>
    </div>
    <div id="streets-xi-content" data-reader-xi-container></div>
  </div>
</div>
